<div class="row">
<% @photos.each_with_index do |p, index|%>
	<div class="span4">
	
	
	<div class="span3"><img src="<%= p.attributes.image_uri %>"/></div>
	<div class="span4 center"><%= "Photo #{index+1}"  %></div>
	<div class="span4"><%= p.attributes.summary %></div>
	<div class="span3">
	<ul>
		<% p.attributes.comments.each do |c|%>
			<li><span style="color:rgb(0, 255, 245);"><%= "#{c.attributes.author} : "%></span><%= c.attributes.content %></li>
		<% end %>
	</ul>
	</div>
	<div class="span3">
		<%= form_tag("/user/album/#{p.attributes.albumId}/photo/#{p.attributes.id}/comments") do %>
			<input type="textarea" name="content" rows="2"/>
			<%= submit_tag 'post'%>
		<% end %>
	</div>
</div>

<% end %>
</div>